@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --animate-fade-in-down: fade-in-down 0.3s ease-out;

    @keyframes fade-in-down {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}